/* bungee-shade-latin-400-normal */
@font-face {
  font-family: 'Bungee Shade';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/bungee-shade/files/bungee-shade-latin-400-normal.woff2)
      format('woff2'),
    url(@fontsource/bungee-shade/files/bungee-shade-latin-400-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* chivo-latin-wght-normal */
@font-face {
  font-family: 'Chivo Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/chivo/files/chivo-latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --clr-dark-purple: #1a0c1d;
  --clr-bright-purple: #3a1b41;
  --clr-very-dark-purple: #100711;
  --clr-platinum: #e8e7e8;
  --clr-platinum-transparent: #e8e7e8a9;
  --clr-electric-indigo: #711fff;
  --clr-electric-indigo-transparent: #711fffb3;
  --clr-poppy-red: #e23c47;
  --clr-poppy-red-transparent: #e23c47b3;

  --ff-headers: 'Bungee Shade', system-ui;
  --ff-body-text: 'Chivo Variable', sans-serif;
}

/* GENERAL STYLING */
body {
  min-height: 100dvh;
  background-color: var(--clr-dark-purple);
  display: grid;
  font-family: var(--ff-body-text);
  color: var(--clr-platinum);
}

h1 {
  font-family: var(--ff-headers);
}

ul {
  list-style: none;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
}

.btn {
  border: none;
  background-color: transparent;
  transition: all 0.4s;
}

/* HEADER STYLES */
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.main-header-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* SEARCH BAR STYLES */
.product-search-form {
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
  border-radius: 1.5rem;
  background-color: var(--clr-bright-purple);
}

.search-bar {
  padding: 0.25rem 1rem;
  color: var(--clr-dark-purple);
  border-radius: 1.5rem 0 0 1.5rem;
  border: none;
}

.search-btn {
  background-color: transparent;
}

.search-btn:hover {
  cursor: pointer;
  scale: 1.125;
}

/* FILTERS STYLES */

.filters-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.filter-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.starting-price {
  padding-left: 0.5rem;
  font-weight: 700;
}

/* PRODUCTS STYLES */
.products-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1.5rem;
}

/* PRODUCT ITEM STYLES */
.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.75rem;
  background-color: var(--clr-very-dark-purple);
  padding: 1rem;
}

.product-item > h2 {
  font-family: var(--ff-headers);
  font-size: 1.125rem;
}

.product-item > p {
  color: var(--clr-platinum-transparent);
}

.product-item > span {
  font-size: 1.25rem;
  font-weight: 900;
}

.product-item > button {
  display: flex;
  justify-content: center;
  background-color: var(--clr-electric-indigo);
  padding: 0.5rem 0;
}

.product-item > button:hover {
  background-color: var(--clr-electric-indigo-transparent);
  cursor: pointer;
}

/* CART COMPONENT STYLES */

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: var(--clr-very-dark-purple);
  border: solid var(--clr-platinum);
  border-width: 2px 0 2px 2px;
  display: none;
  padding: 1.5rem;
  padding-top: 4.75rem;
}

.cart-label-icon {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  background-color: var(--clr-electric-indigo);
  border-radius: 50%;
  z-index: 999;
  transition: all 0.4s;
}

.cart-label-icon:hover {
  background-color: var(--clr-electric-indigo-transparent);
  cursor: pointer;
  transform: rotate(-10deg);
}

.cart-check-box {
  display: none;
}

.cart-check-box:checked ~ .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cart-product-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
}

.clear-cart-btn {
  background-color: var(--clr-poppy-red);
  padding: 0.75rem;
  border-radius: 50%;
}

.clear-cart-btn:hover {
  scale: 1.125;
  cursor: pointer;
  background-color: var(--clr-poppy-red-transparent);
}

/* CART ITEM STYLES */

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0 1rem 1rem 1rem;
  background-color: var(--clr-bright-purple);
}

.cart-item > img {
  max-width: 150px;
}

.product-title {
  font-weight: 700;
  font-size: 1.125rem;
}

.product-price {
  font-weight: 900;
}

.cart-item > footer {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.cart-item > footer > button:first-child {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--clr-poppy-red);
}

.cart-item > footer > button:first-child:hover {
  cursor: pointer;
  transform: translateY(0.1875rem);
  background-color: var(--clr-poppy-red-transparent);
}

.cart-item > footer > .quantity-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.quantity-wrapper > p {
  font-weight: 900;
}

.cart-item > footer > button:last-child {
  border-radius: 50%;
  padding: 0.5rem;
  background-color: var(--clr-electric-indigo);
}

.cart-item > footer > button:last-child:hover {
  cursor: pointer;
  transform: translateY(-0.1875rem);
  background-color: var(--clr-electric-indigo-transparent);
}

/* CONDITIONAL RENDERING CLASSES */

.product-item > button.remove-bg {
  background-color: var(--clr-poppy-red);
}
